.container {
  display: flex;
  max-height: 118px;
  align-items: flex-start;
  gap: var(--spacing-12, 12px);
  align-self: stretch;
  z-index: var(--z-index-info-box-content);
}

.bg-image__wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  top: -82px;
}
.bg-image__wrapper > * {
  border-bottom-right-radius: 8px;
}

.text-section {
  width: 100%;
  margin-left: 12px;
}
.text-section > div {
  color: var(--color-text-interactive-inverse-white);
}

.title__wrap {
  display: flex;
  gap: 12px;
}

.edit-profile__button {
  display: flex;
  align-items: center;
  gap: 2px;
}

.user-image {
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}
