.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-40, 40px);
}

.core {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-32, 32px);
  align-self: stretch;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-16, 16px);
  align-self: stretch;
}
