.wrapper {
  min-height: calc(100dvh - 144px);
  padding: 40px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 468px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 20px 0 !important;
  }
  .container {
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    /*min-width: 320px;*/
    min-width: 100%;
  }
}
