.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  /*background-color: red;*/
}

.contents {
  margin-top: 64px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  gap: 16px;
}
