.wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 480px;
  padding: var(--spacing-40, 40px) var(--spacing-40, 40px) var(--spacing-48, 48px)
    var(--spacing-40, 40px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-16, 16px);

  border-radius: var(--border-radius-lg, 8px);
  border: var(--border-width-md, 1.5px) solid var(--color-border-secondary, #e5e5e5);
  background: var(--color-bg-primary, #fff);

  /* elevation/shadow-8 */
  box-shadow:
    0px var(--effect-shadow-8-cast-y, 4px) var(--effect-shadow-8-cast-blur, 8px) 0px
      var(--color-effect-shadow-cast, rgba(0, 0, 0, 0.16)),
    0px var(--effect-shadow-8-core-y, 0px) var(--effect-shadow-8-core-blur, 4px) 0px
      var(--color-effect-shadow-core, rgba(0, 0, 0, 0.12));
}
