.container {
  margin-bottom: 40px;
}

.input__wrap {
  display: flex;
  gap: 12px;
  min-width: 280px;
}

.input {
  width: 100%;
  display: block;
}

.timer {
  position: relative;
  top: -67px;
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
}

.button__wrap {
  height: 48px !important;
  margin-top: 32px;
  flex-shrink: 0;
}
