.question-box {
  display: flex;
  height: 52px;
  padding-left: var(--spacing-16, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2, 2px);
  align-self: stretch;
  border-left: var(--border-width-lg, 2px) solid var(--color-border-primary, #a3a3a3);
}

.select__wrap {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.select__item {
  display: flex;
  padding: 16px 0;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-12, 12px);
  cursor: pointer;
  border-radius: var(--border-radius-lg, 8px);
  border: var(--border-width-md, 1.5px) solid var(--color-border-secondary, #e5e5e5);
  background: #fff;
  margin-top: 16px;
}

.select__item > div {
  text-align: center;
  color: var(--color-text-tertiary);
}

.select__item-active {
  display: flex;
  padding: 16px 0;
  margin-top: 16px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-12, 12px);
  border-radius: var(--border-radius-lg, 8px);
  border: var(--border-width-md, 1.5px) solid var(--color-border-interactive-primary, #c5f900);
  background: var(--color-bg-brand-subtle, #effec0);
}

.select__item-detail {
  height: 100px;
  text-align: center;
}
