.input__wrap {
  display: flex;
  width: 100%;
  max-width: 404px;
}

.input {
  width: 100%;
  max-width: 404px;
  display: flex;
  box-sizing: border-box;
  height: var(--spacing-48, 48px);
  padding: 0 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  outline: none;
  border-radius: var(--border-radius-lg, 8px);
  border: var(--border-width-sm, 1px) solid var(--color-border-secondary, #e5e5e5);
  background: var(--color-bg-primary, #fff);
}

.input:active,
.input:focus {
  border: var(--border-width-sm, 1px) solid
    var(--color-border-interactive-secondary-hovered, #525252);
}

.input:hover {
  border: var(--border-width-sm, 1px) solid
    var(--color-border-interactive-secondary-hovered, #525252);
}

.input::placeholder {
}

.message {
  display: none;
}

.input:disabled {
  color: var(--color-text-disabled, #525252);
  border: var(--border-width-sm, 1px) solid var(--color-border-disabled, #a3a3a3);
  background: var(--color-bg-disabled, #d4d4d4);
}

.input-error {
  border-radius: var(--border-radius-lg, 8px);
  border: var(--border-width-sm, 1px) solid var(--color-border-interactive-danger, #fc1b45);
  background: var(--color-bg-secondary, #fafafa);

  &:hover {
    border: var(--border-width-sm, 1px) solid var(--color-border-interactive-danger, #fc1b45);
  }
  &:focus {
    border: var(--border-width-sm, 1px) solid var(--color-border-interactive-danger, #fc1b45);
  }
}

.input-warning {
  border-radius: var(--border-radius-lg, 8px);
  border: var(--border-width-sm, 1px) solid var(--color-border-warning);
  background: var(--color-bg-secondary, #fafafa);

  &:hover {
    border: var(--border-width-sm, 1px) solid var(--color-border-warning);
  }
  &:focus {
    border: var(--border-width-sm, 1px) solid var(--color-border-warning);
  }
}

.input-success {
  border-radius: var(--border-radius-lg, 8px);
  border: var(--border-width-sm, 1px) solid var(--color-border-secondary, #e5e5e5);
  background: var(--color-bg-secondary, #fafafa);

  &:hover {
    border: var(--border-width-sm, 1px) solid var(--color-border-secondary, #e5e5e5);
  }
  &:focus {
    border: var(--border-width-sm, 1px) solid var(--color-border-secondary, #e5e5e5);
  }
}

.input:user-invalid ~ span {
  margin-top: 9px;
  display: flex;
  align-items: center;
  color: var(--color-text-danger);
}

.help-message__wrap {
  height: 30px;
}
.help-message {
  padding-top: 8px;
  display: flex;
  align-items: center;
}
.help-message-success {
  color: var(--color-text-success);
}
.help-message-error {
  color: var(--color-text-danger);
}
.help-message-warning {
  color: var(--color-text-warning);
}

.unit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  position: relative;
  left: -38px;
}
