.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.top {
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sm {
  width: 320px;
  padding: 24px;
}

.md {
  width: 400px;
  padding: 32px;
}

.lg {
  width: 480px;
  padding: 40px;
}

.modal {
  box-sizing: border-box;
  position: fixed;

  background: var(--color-bg-primary);

  border-radius: 8px;

  z-index: 10000;
  display: flex;
  flex-direction: column;

  gap: 16px;

  box-shadow:
    0px var(--effect-shadow-8-cast-y, 4px) var(--effect-shadow-8-cast-blur, 8px) 0px
      var(--color-effect-shadow-cast, rgba(0, 0, 0, 0.16)),
    0px var(--effect-shadow-8-core-y, 0px) var(--effect-shadow-8-core-blur, 4px) 0px
      var(--color-effect-shadow-core, rgba(0, 0, 0, 0.12));
}

.modal > span {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 12px;
  max-width: 100%;
}

.buttons > * {
  flex: 1;
}
