.container {
  display: flex;
  overflow: auto;
  max-width: 1140px;
}

.weekday-label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 26px 4px 0 0;
}

.week-number-label {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 26px 4px 0 0;
}
.week-number-label > span {
  width: 18px;
  height: 24px;
}

.week-month-label {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

.week-month-label > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blocks__area {
  width: 100%;
}

.year-blocks__wrap {
  display: flex;
  gap: 2px;
  padding: 0 14px 14px 0;
  overflow-x: auto;
}
.year-blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.year-blocks > div {
  min-width: 16px;
}

.blocks__wrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2px;
}

.blocks {
  height: 23px;
  background-color: var(--color-bg-disabled);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.blocks > a {
  height: 23px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.done {
  background-color: var(--color-bg-brand-main) !important;
}

.active {
  border-radius: var(--border-radius-sm, 2px);
  height: 21px;

  /* elevation/shadow-4 */
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.16),
    0 0 2px 0 rgba(0, 0, 0, 0.12);
  border: var(--border-width-sm, 1px) solid
    var(--color-border-interactive-secondary-pressed, #262626);
}
