.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.container {
  width: 370px;
  height: 36px;
  background-color: var(--color-bg-tertiary);
  border-radius: var(--border-radius-lg);
  display: flex;
  padding: 4px;
  box-sizing: border-box;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.active {
  background-color: white;
  border-radius: var(--border-radius-lg, 8px);
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.16),
    0 0 1px 0 rgba(0, 0, 0, 0.12);
}
