.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px !important;
  gap: 12px;
}

.result_button {
  width: 180px !important;
}

.button_wrapper > a {
  width: 180px !important;
}

@media screen and (max-width: 768px) {
  .button_wrapper {
    width: 100%;
  }

  .result_button {
    width: 100% !important;
  }

  .button_wrapper > a {
    width: 100% !important;
  }
}
