.wrapper {
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.light {
  background-color: var(--white);
}

.dark {
  background-color: var(--color-bg-inverse-bolder);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.right {
  display: flex;
  gap: 32px;
}

.right > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.right li {
  margin-bottom: 12px;
}

.right button,
.right a {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-275);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-400);
  margin-bottom: 6px;
}

.info {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-275);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-400);
  letter-spacing: 0.2px;

  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: start;
}

.bottom {
  display: flex;
  gap: 48px;
}

.bottom > a {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-275);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-400);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }
}
