.wrapper {
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.light {
  background-color: var(--white);
}

.dark {
  background-color: var(--color-bg-inverse-bolder);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.right {
  display: flex;
  gap: 32px;
}

.right > div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.right span {
  margin-bottom: 12px;
}

.right button,
.right li {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-275);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-400);
  margin-bottom: 6px;
}

.info {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-275);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-400);
  letter-spacing: 0.2px;

  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: start;
}

.bottom {
  display: flex;
  gap: 48px;
}

.bottom > a {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-275);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-400);
}

.info-detail {
  display: flex;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 40px 20px !important;
  }
  .container {
    padding: 0 !important;
    flex-direction: column !important;
    gap: 16px;
  }
  .info-detail {
    flex-direction: column;
  }
  .right div {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .right ul {
    display: flex;
    gap: 6px;
  }
  .right li {
    margin-bottom: 0;
  }
  .right span {
    margin-bottom: 0;
  }
}
