.wrapper {
  background: var(--color-bg-secondary);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border-secondary);
  padding-left: 20px;
}

.th {
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-600);
  letter-spacing: 0.2px;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-shrink: 0;
  flex-basis: 0;
  height: 64px;
}

.th1 {
  flex-grow: 0.4;
}

.th2 {
  flex-grow: 0.4;
}

.th3 {
  flex-grow: 0.4;
}

.th4 {
  flex-grow: 0.8;
}

.th5 {
  flex-grow: 1;
}

.th6 {
  flex-grow: 1;
}
